@media (prefers-color-scheme: dark)
{
	body
	{
		background-color: black;
		color: white;
	}
}

@media (prefers-color-scheme: light)
{
	body
	{
		background-color: white;
		color: black;
	}
}

#container
{
	height: 			150px;
	width: 				100%;
}

.dayLabel
{
	cursor:				pointer;
	font-weight:		bold;
	margin-left:		.5em;
	margin-right:		1.5em;
	text-decoration:	underline;
}

dialog#dlgLogin
{
	background-color:	green;
	color:				 white;
}

dialog#dlgLogin div
{
	display:				grid;
	grid-template-columns:	3em 3em;
	grid-template-rows:		1em 1em;
	text-align: 			left;
} 

dialog div button span
{
	font-weight: 		bold;
	text-decoration:	underline;
}

dialog div label span
{
	font-weight: 		bold;
	text-decoration:	underline;
}

/*#dlgLogin, #dlgLogin label
{
	background-color:		green;
	color:					white;
	height:					175px;
	margin:					auto;
	margin-left:			25%;
	text-align:				right;
	width:					33vw;
}*/

/*#dlgSignup, #dlgSignup label
{
	background-color:		yellow;
	color:					black;
	height:					175px;
	margin:					auto;
	margin-left:			25%;
	text-align:				right;
	width:					33vw;
}*/

#leftPanel
{
	width: 				20vw;
}